@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);

.cse .gsc-control-cse,
.gsc-control-cse {
    padding: 0 !important;
}

form.gsc-search-box {
    margin: 0px !important;
}

#___gcse_0 {
    float: right;
    width: 110px;
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding: 0 !important;
}

#gsc-iw-id1.gsc-input-box {
    height: 32px !important;
    overflow: hidden;
    width: 105px;
    float: right;
}

.gsc-search-button {
    display: none !important;
}

.gsc-control-cse {
    background-color: #474d4d !important;
    border-color: #474d4d !important;
    height: 30px;
}

/*======merged.css resets===============*/

a,
a:visited,
a:hover,
a:active {
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}

ul.menu a.header_sel,
ul.menu li.sub_sel a {
    color: #000;
}

.button,
.button-disabled {
    background: none;
    border: none;
}

p {
    margin: 0;
    padding-bottom: 1em;
}
p:first-of-type {
    padding-top: 1rem;
}
.has-margins {
    margin: 0 2rem 0 .8rem;
}
.has-margins > p:first-of-type {
    padding-top: 0;
}
.no-padding-top {
    padding-top: 0;
}
.pt-0 {
    padding-top: 0; 
}
a.btn {
    padding: 5px 10px;
    margin: 5px 0px;
    display: block;
    text-align: center;
    font-family: "Proxima-Nova", sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: #fff;
}
span.glyphicon {
    top: 2px;
    padding-top: 4px;
    color: #42536e;
}
span.glyphicon.glyphicon-phone-alt, span.glyphicon.glyphicon-envelope {
    padding-right: 2px;
}
span.glyphicon.glyphicon-file {
    padding-right: 0;
}

#donate-button,
#donate-button:visited {
    background: #E84A27;
    border: 1px solid #E84A27;
    color: #fff;
    margin: auto;
    padding: 10px;
    width: 60%;
    font-weight: 500;
}

#donate-button {
    margin: 1em;
}

#donate-button:hover {
    filter: brightness(85%);
}

#uilogo {
    border: 0 none;
    bottom: 0.5em;
    color: #fff;
    /*  position: absolute;*/
    float: right;
    right: 0.5em;
    margin-top: 0px;
}

#uilogo150 {
    border: 0 none;
    bottom: 0.5em;
    color: #fff;
    float: right;
    margin-right: 0.2em;
    margin-top: -29px;
}

#top-nav a {
    text-transform: uppercase;
    font-size: 1rem;
    color: #424242;
}
div.about {
    padding-right: 1rem;
    padding-left: 1rem;
}

#surveys {
    background-color: #707171;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    clear: both;
    font-size: 0.66em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-top: 0.2em;
    word-spacing: -1.5px;
    height: 2.2em;
}

#surveys a:link,
#surveys a:visited {
    color: #fff;
    font-size: 1.16em;
    word-spacing: -1px;
}

#header #surveys a.selectedsurvey {
    color: #ccc !important;
    text-decoration: none;
}

#header #surveys a:hover,
#header #surveys a:focus {
    color: #ccc;
    text-decoration: underline;
}

#surveys a:hover,
#surveys a:focus {
    color: #ccc;
    text-decoration: underline;
}

#surveys ul {
    border: none;
    margin: 0;
    padding: 0;
}

#surveys li {
    display: inline;
    list-style: outside none none;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.navmarker {
    border: 0 none;
    color: #707171;
    /* #766354 */
    margin: 0;
    padding: 0;
}

.ptl_col_3_4 {
    width: 74%;
}

/*===================================
             FONTS
=====================================*/

body {
    font-family: "Proxima-Nova", sans-serif;
}

body#ctl00_PageBody {
    background-color: #e6e6e6;
}

h1,
.h1 {
    color: #13294B;
    font-size: 2.5em;
    font-weight: 700;
    padding-bottom: .5em;
    clear: both;
    width: 100%;
    margin: 1px 0 10px;
}

h2,
.h2 {
    font-size: 2em;
    font-weight: 700;
    color: #13294B;
}

h3,
.h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: #13294b;
}

h4,
.h4 {
    font-size: 1.25em;
    font-weight: bold;
    color: #13294b;
}


/*==================================
				COLOR
====================================*/

/*------------- Color #E84A27(lightblue) ----------------*/

/*-- content title triangle color --*/

.content-h:before {
    border-color: #E84A27 transparent transparent;
}

/*-- btn color --*/

.more-btn a {
    color: #E84A27;
}

/*-- ss-credit a color --*/

.ss-credit a {
    color: #111;
}

/*-- office-contact a color --*/

.office-contact a {
    color: #FFF;
}

/*-- subpage sidebar --*/

#subpage_content a {
    color: #E84A27;
    font-weight: 700;
}

#subpage_content a:hover,
#subpage_content a:active,
#subpage_content a:focus {
    color: #13294B;
}

#subpage_theme #breadcrumbs,
#subpage_theme #breadcrumbs a:hover {
    color: #000;
}

/*-- Navbar color #navbar --*/

.telerik_main_menu .rmRootGroup a:hover span,
.telerik_main_menu .rmRootGroup a.rmFocused span {
    color: #E84A27;
}

.telerik_main_menu .rmGroup a:hover span,
.telerik_main_menu .rmGroup a.rmFocused span {
    background-color: #E84A27;
    color: #fff;
}

.rmLevel2 {
    border: none;
    background-color: #ddd;
}
.RadMenu ul.rmGroup, .RadMenu .rmRootGroup .rmItem ul.rmGroup {
    padding: 0;
}

.rmItem:hover .rmLink:after,
.rmItem .rmLink.rmSelected:after {
    border-color: #E84A27 transparent transparent;
}

/*--Over and Focused State--*/

.telerik_main_menu .rmGroup a:hover span,
.telerik_main_menu .rmGroup a.rmFocused span {
    background-color: #E84A27!important;
    color: #fff;
}

#mobile-bar:before {
    border-color: #E84A27 transparent transparent;
}

/*===============================
                     GLOBAL
================================*/

body {
    background: #FFF;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
.bio-pic {
    max-width: 200px;
}
.clear {
    clear: both;
}

.pa10 {
    padding: 10px;
}

.pa-lr-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.pa20 {
    padding: 20px;
}

.pa-lr-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.txtsmall,
.txtsmall a {}

.txtvsmall,
.txtvsmall a {}

.wrapper {
    font-family: "Proxima-Nova", sans-serif;
    text-align: left;
    margin: 0 auto;
    font-size: 16px;
    max-width: 900px;
}

.top-nav-wrapper {
    color: #424242;
    font-size: 1.34em;
    font-family: "Proxima-Nova", sans-serif;
}

/*=======================================
		HEADER
=========================================*/

#header {
    overflow: auto;
    background-color: #13294B;
    position: relative;
    z-index: 99;
    width: 100%;
    clear: both;
    display: inline-block;
    height: 8.6em;
    border: none;
}

.container {
    border: none;
    padding: 0;
}

.sitename {
    /*  clear: both;
  max-width: 600px; */
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    padding: 0px;
    float: left;
    border: none;
}

.sitename2 {
    clear: left;
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 2px;
    padding: 0px;
    float: left;
    border: none;
}

.sitename3 {
    clear: left;
    margin-top: 5px;
    margin-bottom: 1px;
    margin-left: 2px;
    padding: 0px;
    float: left;
    border: none;
}

.sitename a {
    color: #FFF;
    z-index: 3;
    text-decoration: none;
    font-family: "Proxima-Nova", sans-serif;
    font-size: 2em;
}

/*=======================================
                CONTENT
========================================*/

/*== Nav ==*/

#menubar {
    background-color: #474d4d;
    width: 900px;
    border: none;
}

.inner-bar {}

.bannerContainer {}

/*--------------------TELERIK COLORS--------------------*/

/*--TOP LEVEL STYLES--*/

.RadMenu .rmGroup .rmText {
    color: #fff;
}

/*--Normal State--*/

.telerik_main_menu .rmRootGroup a {
    color: #2f2f2f;
    padding: 0;
}

.telerik_main_menu .rmRootGroup a span {
    color: #fff;
    margin: 0 4px;
}

.rmItem {
    border-right: 1px solid #fff;
}

.rmItem:last-child {
    border-right: none;
}

ul.rmVertical.rmGroup.rmLevel1 > li.rmItem {
    border-right: none;
}

/*--Hover and Focused State ***/

.telerik_main_menu .rmRootGroup a:hover,
.telerik_main_menu .rmRootGroup a.rmFocused {
    color: #2f2f2f;
    /*padding: 15px 0 10px;*/
    ;
}

.telerik_main_menu .rmRootGroup a:hover span,
.telerik_main_menu .rmRootGroup a.rmFocused span {
    color: #FFF;
}

/*== TOP LEVEL HOVER triangle BG ==*/

.rmItem:hover .rmLink:after,
.rmItem .rmLink.rmSelected:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 6px 0;
    border-color: #FFF transparent transparent;
    left: 39%;
}

.rmSlide .rmItem .rmLink:after,
.rmSlide .rmItem .rmLink.rmSelected:after {
    display: none!important;
}

/*--END OF TOP LEVEL STYLES--*/

/*--DROPDOWN MENU STYLES--*/

/*--Normal State--*/

.telerik_main_menu .rmGroup a {
    color: #fff;
}

.telerik_main_menu .rmGroup a span {
    color: #fff;
    background-color: #000;
}

/*--Over and Focused State--*/

.telerik_main_menu .rmGroup a:hover,
.telerik_main_menu .rmGroup a.rmFocused {
    background-color: #E84A27;
    color: #fff;
}

.telerik_main_menu .rmGroup a:hover span,
.telerik_main_menu .rmGroup a.rmFocused span {
    background-color: #E84A27;
    color: #fff;
}

/*--END OF DROPDOWN MENU STYLES--*/

.rmItem:hover {
    color: #E84A27;
    font-weight: 700;
}

.rmVertical .rmItem:hover a span,
.rmVertical .rmItem:hover a {
    padding-top: 0;
    padding-bottom: 0;
}

/*--DROPDOWN LV2 MENU STYLES--*/

/*--Normal State--*/

.telerik_main_menu .rmGroup .rmGroup a {
    color: #fff;
}

.telerik_main_menu .rmGroup .rmGroup a span {
    color: #fff;
}

/*--Over and Focused State--*/

.telerik_main_menu .rmGroup .rmGroup a:hover,
.telerik_main_menu .rmGroup .rmGroup a.rmFocused {
    background: #E84A27;
    color: #fff;
}

.telerik_main_menu .rmGroup .rmGroup a:hover span,
.telerik_main_menu .rmGroup .rmGroup a.rmFocused span {
    background: #E84A27;
    color: #fff;
}

/*--SECOND LEVEL BORDER LEFT--*/

.rmLevel2 {
    border-left: 4px solid #E84A27;
}

/*--END OF DROPDOWN MENU STYLES--*/

/*--------------------END TELERIK COLORS--------------------*/

/*** START OF TOP LEVEL MENU STYLES ***/

.telerik_main_menu a,
.telerik_main_menu a:hover {
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
}

.telerik_main_menu .rmText {
    padding-top: 5px!important;
    padding-bottom: 15px!important;
}

.telerik_main_menu .rmGroup .rmText {
    padding-bottom: 5px!important;
}

.RadMenu .rmItem {
    height: auto;
}

.RadMenu .rmText {
    font-family: "Proxima-Nova", sans-serif;
    font-weight: 400;
}

.RadMenu .rmLink {
    float: left;
    outline: 0 none;
    padding-left: 0!important;
}

.RadMenu .rmHorizontal .rmText {
    padding: 8px 10px!important;
}

.RadMenu .rmGroup .rmText {
    margin-left: 0!important;
    padding: 8px 10px!important;
    margin-bottom: 4px;
}

.rmrootGroup .rmHorizontal li.rmItem {
    margin-left: 5px;
}

/*** Normal State ***/

.telerik_main_menu .rmRootGroup a {
    text-decoration: none;
    ;
}

.telerik_main_menu .rmRootGroup a span {
    text-decoration: none;
}

/*** Over and Focused State ***/

.telerik_main_menu .rmRootGroup a:hover,
.telerik_main_menu .rmRootGroup a.rmFocused {
    text-decoration: none;
    background-position: left top, right top;
    background-repeat: no-repeat;
}

.telerik_main_menu .rmRootGroup a:hover span,
.telerik_main_menu .rmRootGroup a.rmFocused span {
    text-decoration: none;
}

/*** END OF TOP LEVEL MENU STYLES ***/

/*** START OF DROPDOWN MENU STYLES ***/

/*** Normal State ***/

.telerik_main_menu .rmGroup {}

.telerik_main_menu .rmGroup a {
    text-decoration: none;
    font-size: .9em;
    font-weight: 400;
    color: #fff;
}

.telerik_main_menu .rmGroup a span {
    text-decoration: none;
    font-size: .9em;
    font-weight: 400;
    line-height: normal!important;
}

.telerik_main_menu .rmGroup .rmItem .rmExpandRight:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 18px;
    height: 26px;
    background: url(/UserFiles/Servers/Server_700/Image/Theme/control-sprite.png);
    background-position: -35px -6px;
}

/*** Over and Focused State ***/

.telerik_main_menu .rmGroup a:hover,
.telerik_main_menu .rmGroup a.rmFocused {
    text-decoration: none;
    border-bottom: none!important;
}

.telerik_main_menu .rmGroup a:hover span,
.telerik_main_menu .rmGroup a.rmFocused span {
    text-decoration: none;
    border-bottom: none;
}

/*** Dropdown border ***/

.RadMenu .rmRootGroup .rmItem ul.rmGroup {
    padding-bottom: 0;
    width: 200px;
}

#ctl00_ContentPlaceHolder1_ctl17_ltContent .more-btn {
    position: relative;
    z-index: 99;
    padding-right: 20px;
}

/*** Justified Menu  ***/

.RadMenu {
    float: none !important;
}

.RadMenu ul.rmActive,
.RadMenu ul.rmRootGroup {
    display: inline-block !important;
}

.RadMenu ul.rmVertical,
.RadMenu ul.rmHorizontal,
.RadMenu ul.rmRootScrollGroup,
.RadMenu_Context ul.rmHorizontal {
    float: none !important;
}


/*=======================================
		FOOTER
=========================================*/

/* Sticky footer styles
-------------------------------------------------- */

html,
body,
form {
    height: 100%;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

#aspnetForm {
    height: auto;
}

/* The html and body elements cannot have any padding or margin. */

/* Wrapper for page content to push down footer */

#wrap {
    min-height: 100%;
    height: auto!important;
    height: 100%;
    /* Negative indent footer by it's height 
margin:0 auto -120px;*/
}



.footer {
    background-color: #e6e6e6;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-top: none;
}

.footer a {
    color: #E84A27;
    text-decoration: none;
}
.footer h3 a {
    color: #13294B;
}
.footer .float-right {
    text-align: right;
}

.footer h3 {
    margin: 0;
    padding-top: 0;
    text-decoration: none;
    color: #444444;
}

.footer p {
    color: #13294B
}

.footer .row {
    position: relative;
    z-index: 9;
}

.footer .float-left > span {
    display: block;
    font-size: .9em;
    line-height: 1em;
    margin: 0 0 0 25px;
    padding: 5px;
    color: #fff;
    text-align: left;
}

.footer .float-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.footer .float-left ul li,
.footer .float-left ul li span {
    display: inline-block;
}

.footer .float-left ul li {
    margin-right: 10px;
}

.footer-info a {
    text-decoration: none;
    font-weight: 700;
}

/*-- New footer styles for standard PRI footer --*/

/*-- added by Jennifer Davis, March 6, 2018 --*/

/*-- SS Credit --*/

.ss-credit {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: #111;
    /* padding-bottom: 3%;*/
}

.ss-credit a {
    text-decoration: underline;
}

.ss-credit a:hover {
    text-decoration: underline;

}

/*-- Office Contact --*/

.office-contact {
    text-align: right;
    font-size: 18px;
    color: #bebebe;
    padding: 50px;
    margin: 10px;
}

.office-contact a {
    text-decoration: none;
    font-size: 16px;
}

.office-contact a:hover {
    text-decoration: underline;
    font-size: 16px;
}

#ctl00_ContentPlaceHolder1_ctl04_TabBar1_divTabBar {
    margin-top: 70px;
}


/*=======================================
	NEWS
=========================================*/

.news-title,
.news-content-title {
    font-weight: 700;
    font-size: 1.25em;
    line-height: 1.3;
}
.news-title > a {
    color: #13294B;
}
.news-title > a:hover {
    color: #e84a27;
}
.news-summary-title {
    line-height: 1.2em;
}
.news-summary {
    font-size: 1.5rem;
}

.news-date {
    font-size: 1.25rem;
    line-height: 2em;
    color: #13294b;
    font-weight: 400;
}

.news-summary a,
.news-content a {
    text-decoration: none;
    color: #13294B;
}

.news-summary ul {
    list-style-type: none;
}
hr {
    clear: both;
}
/*=======================================
	SUB-PAGE Style
=========================================*/

.homepage .col-md-8,
.homepage .col-md-4 {
    padding: 0 5px;
}

.homepage .ptl_portlet_vertical {
    padding: 1.5rem;

}

#subpage_theme {
    background: #fff;
    border: 1px solid #ccc;
    padding-bottom: 100px;
    margin: 0 auto;
}

#subpage_theme a {
    color: #E84A27;
}
#subpage_theme a:hover {
    color: #13294B;
    text-decoration: none;
}

.subpage-inner {
    margin: 0 auto;
    max-width: 1020px;
}

/*== Sidebar ==*/

#subpage_left_sidebar {
    width: 25%;
    float: left;
}

#nav-box {
    padding-top: 80px;
    margin: 20px;
}

.subpage-inner #inside-nav a {
    display: block;
    margin: 0 0 5px;
    color: #FFF;
    font-size: 1.1em;
    text-decoration: none;
    padding: 5px 5px 5px 10px;
}

/*== subpage content ==*/

#subpage_theme #breadcrumbs {
    margin-bottom: 20px;
    color: #E84A27;
    font-weight: 700;
    clear: both;
    background-color: #fff;
    border-radius: 4px;
    padding: 8px 15px;
}

#subpage_theme #breadcrumbs a {
    font-family: "Proxima-Nova", sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: #4d4d4d;
    font-weight: 400;
}

#subpage_theme #breadcrumbs a:hover {
    color: #13294B;
}
#subpage_content a {
    color: #E84A27;
}

#subpage_content a:hover,
#subpage_content a:active,
#subpage_content a:focus {
    color: #13294B;
    text-decoration: none;
}
.caption {
    font-size: .75em;
    font-style: italic;
    padding: .4rem 1px 1rem;    
}
div.has-image.float-left {
    margin-right: 2rem;
    text-align: left;
}
div.has-image.float-right {
    margin-left: 2rem;
    text-align: right;
}

/*== Design mode ==*/

.design-mode {
    padding: 20px 0;
}

/*== MENU BAR==*/

#mobile-bar {
    display: none;
    height: 40px;
    position: relative;
    top: 0;
    /*width: 100%;*/
    left: 0;
    z-index: 1;
    background: #000;
    /* #62564a */
    font-family: "Proxima-Nova", sans-serif;
    color: #fff;
    line-height: 40px;
    padding-left: 30px;
    cursor: pointer;
    text-decoration: none;
}

#mobile-bar:after {
    content: '';
    width: 2px;
    height: 11px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 16px;
    display: block;
    margin-top: -7px;
}

#mobile-bar:before {
    content: '';
    width: 11px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 11px;
    display: block;
    margin-top: -2px;
}


/*========================================
            MEDIA QUERIES 
=========================================*/

/****** max-width 950px *********/

@media screen and (max-width: 950px) {
    .RadMenu_PageControls,
    #divMenuOffset {
        display: none;
    }
    #subpage_theme {
        max-width: 97%;
    }
}

@media screen and (max-width: 900px) {
    .inner-header {
        height: 100px;
    }

    .sitename {
        float: none;
        margin: 0 auto;
    }

    #menubar {
        display: none;
    }

    #mobile-bar {
        display: block;
    }

    #pub-wrapper {
        display: none;
    }

    .bannerContainer {
        margin-top: 0;
    }
}

/****** iPad portrait width: 768px  *********/

@media screen and (max-width: 768px) {

    /* sticky footer styles */
    #wrap {
        margin: 0 auto -100px;
    }
    
    .ptl_col_1_2,
    .ptl_col_1_3,
    .ptl_col_1_4,
    .ptl_col_2_3,
    .ptl_col_3_4 {
        min-width: 100%;
    }

    #inside-nav {
        margin-left: 0%;
    }

    .inner-header a {
        padding-top: 12px;
    }

    .inner-header .float-left {
        width: 70%;
    }

    #breadcrumbs {
        margin-top: 42px;
    }

    /** FOOTER **/
    .footer .float-left > span {
        display: none;
    }

    .footer .float-right {
        float: none;
        width: 100%;
    }

    .footer .campus-icons img {
        display: none;
    }

    .footer .social-media {
        margin-top: 15px;
    }

    .ss-credit {
        width: 80%;
    }

    .homepage {
        padding-bottom: 50px;
    }

    .row {
        margin: 0;
    }
}

/****** Max-width: 665px  *********/

@media screen and (max-width: 665px) {
    /*#logo:before {
height:100px;
}*/
    .inner-header a {
        margin-left: 0;
        background-size: 80%;
        height: 138px;
        width: 222px;
    }

    .inner-header .float-left {
        margin-left: 50px;
    }

    .inner-header h1 {
        margin-left: 280px;
        margin-top: 18px;
    }

    .inner-header h2 {
        margin-left: 280px;
        margin-top: 60px;
    }

    #nav-box {
        padding-top: 30px;
        margin: 10px;
    }

    #breadcrumbs {
        margin-top: 25px;
    }
}

/****** Android (Nexus 4) landscape & Kindle portrait width: 600px  *********/

@media screen and (max-width: 600px) {
    .inner-header .float-left {
        width: 80%;
    }

    #subpage #news_content_body #featured_image {
        float: none;
    }

    #subpage #subpage_left_sidebar {
        display: none;
    }

    #subpage_right_content {
        width: 100%;
    }
}

/****** iPhone landscape Max-width: 568px  *********/

@media screen and (max-width: 568px) {
    .inner-header .float-left {
        width: 84%;
    }

    .intro {
        padding: 20px;
    }

    .pa-lr-40 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .news .image {
        float: none;
        width: 100%;
    }
}

/****** iPhone portrait Max-width: 480px  *********/

@media screen and (max-width: 480px) {
    .inner-header .float-left {
        width: 84%;
    }

    .wrapper {
        max-width: 480px;
        overflow: hidden;
    }

    .inner-header {
        /*background:#E84A27;*/
        height: 100px;
    }

    .sitename a {
        font-size: 1.7em;
    }

    #breadcrumbs {
        margin-top: 0;
    }

    .footer .float-left {
        width: 100%;
        float: none;
    }
}

/****** Smaller than 480px  *********/

@media screen and (max-width: 479px) {

    .ss-credit {
        width: 100%;
    }
    .label_skin_corporation,
    .label_skin_corporation a,
    .label_skin_corporation a:hover {
        font-size: 8px;
    }

}



@media print {

    body {
        font-size: 95%;
    }
    h1,
    .h1 {
        font-size: 2.5em;
    }
    h2,
    .h2 {
        font-size: 2em;
    }

    a {
        font-size: inherit;
    }
    .telerik_main_menu a,
    .telerik_main_menu a:hover {}
    .navbar {
        display: block;
    }
    #ctl00_ContentPlaceHolder1_ctl00_ctl00_menu,
    #publinks,
    .bubble,
    .search-container {
        display: none;
    }
    .sitename a {
        font-size: 22px;
        padding: 0px;
    }
    a:link:after,
    a:visited:after {
        content: normal !important;
    }
    /* #wrap { margin: 0; min-height: inherit;}*/
    .copyright {
        width: 100%;
        text-align: left;
    }
    #pub-wrapper,
    #pub-container,
    #pub-links,
    .push {
        display: none;
    }
    .inner-header {
        height: auto;
    }
    /*   .logo img { background: #bbb !important;} */
    html,
    body {
        min-height: 90%;
        height: 90%;
    }
    #wrap,
    #header {
        height: auto;
        float: none;
    }
    #wrap {
        height: auto;
        margin: -20px 0 0;
        float: none;
    }
}

/*--Mobile Menu Bar Style for Executive template --*/

#mobile-bar {
    background: #000;
    /* #62564a */
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}

#mobile-bar:hover {
    color: #E84A27;
}

#mobile-bar:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #E84A27 transparent transparent;
    left: 0;
    top: 0;
    background: transparent;
}

#mobile-bar:after {
    display: none;
}

#mMenuCMS {
    text-align: left!important;
}

/*** START OF PUBLISHED LINKS STYLES ***/

ul.PublishedLinkMenu {
    text-align: center;
}

ul.PublishedLinkMenu li {
    float: none;
    margin: 2px 1px 2px 0;
}

.PublishedLinkMenu li a:link,
.PublishedLinkMenu li a:active,
.PublishedLinkMenu li a:visited {
    color: #0054a6;
    font: 8pt "Proxima-Nova";
    padding-right: 0;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: -5px;
}

.PublishedLinkMenu li a:hover {
    color: #0054a6;
    font: 8pt "Proxima-Nova";
    padding-right: 0;
    text-decoration: underline;
}

.PublishedLinkMenu ul.pl_more_topnav li #more_link {
    color: #0054a6;
    font-family: "Proxima-Nova";
    left: 0;
    position: absolute;
    text-decoration: underline;
    top: 0;
    /* z-index: -1; */
    font-size: 8pt;
}

/*** END OF PUBLISHED LINKS STYLES ***/

/*** START OF TOP BLACK BAR STYLES ***/

#pub-wrapper {
    background: #060c12;
    height: 40px;
    width: 100%;
    padding-top: 3px;
    position: relative;
}

#pub-container {
    margin: 0 auto;
    position: relative;
    z-index: 2999;
}

#search {
    font-size: 10px;
    float: right;
    color: #252525;
    top: 3px;
}

.divSearchBox {
    padding-top: 1px;
}

.divSearchBox .SearchButton {
    border: 0 none;
    margin: 0;
    padding: 0 0 3px;
    vertical-align: middle;
}

* + html .divSearchBox .SearchButton {
    padding: 0 0 8px;
}

.divSearchBox input {
    display: inline-block;
    background: #fff;
    padding: 4px 3px 3px;
    width: 75px;
    border-radius: 3px;
    border: none!important;
}

.content {
    clear: both;
}

#ctl00_ContentPlaceHolder1_ctl04_divEdit table {
    min-width: 100%
}


#side-menubar {
    /*  background: none repeat scroll 0 0 #d8d0c7;*/
    margin-top: 10px;
    width: 100%;
}

.nav-stacked ul li {
    line-height: .8em;
    margin-bottom: 0px;
}

ul.nav-stacked li.sub,
ul.nav-stacked li.sub_sel {
    margin-left: 2%;
    width: 98%;
    padding-right: 2%;
}

ul.nav-stacked li.sub1,
ul.nav-stacked li.sub_sel1 {
    margin-left: 4%;
    width: 96%;
    padding-right: 4%;
}

ul.nav-stacked li.sub2,
ul.nav-stacked li.sub_sel2 {
    margin-left: 6%;
    width: 94%;
    padding-right: 6%;
}


#side-menubar .nav > li > a {
    font-size: 12px;
    color: #293f57;
    padding: 6px;
}

#side-menubar .nav > li > a.header_sel {
    color: #111;
}

#side-menubar .nav > li > a:hover,
#side-menubar .nav > li > a:focus {
    color: #111;
}
.contact-page > .row {
    clear: both;
}
.contact-page p:first-of-type {
    padding-top: 0;
}
.contact {
    background-color: #35587a;
    color: #fff;
    float: left;
    font-size: 100%;
    margin: 10px 1% 10px 0;
    padding: 10px 0 10px 8px;
    width: 96%;
}

.contact a:link,
.contact a:visited {
    color: #ffffff;
    text-decoration: none;
}

.nivo-caption {
    background: none repeat scroll 0 0 #e6e6e6;
    border: none;
    color: #13294B;
    display: block;
    margin-right: 0.5em;
    opacity: 0.8;
    padding: 1.5em !important;
    left: 0.5em;
    bottom: 1.5em;
    z-index: 50;
}

.nivo-caption p {
    font-family: "Proxima-Nova", sans-serif !important;
    font-weight: 700 !important;
    font-size: 1.4rem !important;
    line-height: 1.2em !important;
    letter-spacing: normal !important;
}

.bannerContainer {
    margin: 0 auto !important;
}

.nivoSlider {
   box-shadow: none !important;
}

.nivoSlider img {
    min-height: 180px;
}

.nivo-directionNav a {
    background: none !important;
}

.nivo-nextNav:before {
    content: "\e250";
    width: 30px;
    height: 30px;
}

.nivo-prevNav:before {
    content: "\e251";
    width: 30px;
    height: 30px;
}


@media screen and (max-width: 480px) {

    #subpage_theme {
        width: 99%;
    }

}

@media screen and (min-width: 568px) {

    #subpage_theme {
        width: 568px;
    }

}

@media screen and (min-width: 665px) {

    #subpage_theme {
        width: 665px;
    }
    .campus-uic {
        margin-left: 50px;
    }
    .office-contact {
        margin-right: 50px;
    }
}

@media screen and (min-width: 767px) {

    #subpage_theme {
        width: 767px;
    }
}

@media screen and (min-width: 850px) {

    #subpage_theme {
        width: 850px;
    }
}

@media screen and (min-width: 900px) {
    .container {
        max-width: 900px;

    }
}

@media screen and (min-width: 948px) {

    #subpage_theme {
        width: 900px;
    }
    #header {
        padding: 10px;
    }
}

.callout {
    background-color: #deeff3;
    margin: 25px 10px;
    padding: 5px 5px 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    font-size: 13px;
}
